[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
beautifulsoup4 = "*"
pyqt6 = "*"

[dev-packages]
pipenv = "*"
pytest = "*"
pytest-cov = "*"
black = "*"
isort = "*"
pyqt6-tools = "*"
invoke = "*"

[requires]
python_version = "3.9"
